.header-container { padding-block: 20px; display: flex; justify-content: space-between; align-items: center; }
.header-logo { width: 100%; max-width: 200px; } 
.header-links { display: flex; justify-content: space-between;  gap: 60px; list-style: none;}

.main-title { margin-block: 30px; font-size: 16rem; text-transform: uppercase; text-indent: 80px; letter-spacing: -10px; color: var(--title); position: absolute; z-index: 10; }
.main-woman { width: 900px; max-width: 900px; border-radius: 10%; }
.main-flor { position: absolute; top: 250px; left: 5px; z-index: 5; opacity: .25; }