.header-container { display: flex; justify-content: space-between; align-items: center; }
.header-logo { width: 100%; max-width: 200px; } 
.header-links { display: flex; justify-content: space-between;  gap: 60px; list-style: none;}